:root{
    --back: #14161e;
    --light-back: #1F2833;
    --dark-back: #101218;
    --color-light: #66fcf1;
    --color-base: #45a29e;
    --color-dark: #266a67;
    --white: #ffffff;
}

body{
    background: var(--back);
}

.dark-back{
    background: var(--dark-back);
    color: var(--light-back);
}

.color-light{
    background: var(--color-light);
    color: var(--light-back);
}

.color{
    background: var(--color-base);
    color: var(--dark-back);
}

.color-dark{
    background: var(--color-dark);
    color: var(--color-light);
}

.light-back{
    background: var(--light-back);
    color: var(--white);
}